@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #EDEDED;
    font-family: 'Inter', sans-serif;
    font-size: em(16px);
    font-weight: 400;
    color: $text;
    margin: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

.main-template {
    display: flex;
    position: relative;
}

.page-template {
    flex-basis: 94%;
    padding: 0 0 0 em(24px);
}

.bg-ash {
    background-color: $ash;
}

main {
    padding: 25px 0;
}

.container {
    max-width: em(1536px);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}