h1,
.title-size {
    font-size: $size1;
    line-height: em(36px);
}

h2 {
    font-size: $size2;
    line-height: em(29px);
}

h6 {
    font-size: $size4;
    line-height: em(17px);
}

p {
    font-size: $size3;

    &.mini-text {
        font-size: $size4;
        line-height: em(17px);
    }
}