h1,
.title-size {
    font-size: em(30px);
    line-height: em(36px);
}

h2 {
    font-size: em(24px);
    line-height: em(29px);
}

h6 {
    font-size: em(14px);
    line-height: em(17px);
}

p {
    font-size: em(16px);

    &.mini-text {
        font-size: em(14px);
        line-height: em(17px);
    }
}