$white: #fff;
$primary: #6246EA;
$primary-light: #EBEBFF;
$text: #141517;
$grey: #A1A1A1;
$green: #00BD9D;
$ash: #F1F3F8;
$tablebg: #F7F7F7;
$indigo: #8075FF;

// font sizes
$size1: em(30px);
$size2: em(24px);
$size3: em(16px);
$size4: em(14px);