.sidebar {
    position: sticky;
    border-radius: em(12px);
    padding: em(58px) 0;
    background-color: $white;
    flex-basis: 6%;
    top: 0;

    ul {
        display: flex;
        flex-direction: column;
        gap: em(38px);
        margin: 0;

        li {
            text-align: center;
            position: relative;
            padding: 0 em(15px);

            cursor: pointer;

            a {
                text-decoration: none;
                display: block;

                span {
                    color: $text;
                    font-size: em(12px);
                    display: block;
                }

                svg {
                    color: $text;
                }
            }

            &.active {
                span {
                    color: $primary;
                }

                svg {
                    color: $primary;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: em(7px);
                    height: 100%;
                    background: linear-gradient(196.99deg, #83DAEC 3.34%, #8075FF 64%);
                    border-radius: 0px em(3px) em(3px) 0px;
                }
            }


        }
    }
}